.all-register{
    text-align: center;
}

img{
    width: 120px;
}

mat-form-field{
    width: 300px;
}

button{
    margin: 2%;
    margin-top: 0%;
}

h1{
    margin: 0;
}

mat-radio-button{
    margin: 15px;
}

#img_add_person{
    font-size: 110px;
    margin-top: 12px;
    margin-bottom: 0px;
}