.open-cam-div{
  position: relative;
  display:inline-block;
    width:320px;
    height:480px;
    margin: 0 auto;
}
.example-header-image {
  background-image: url('../../../assets/emoji_u1f634.png');
}


.video {
  position:absolute;
  z-index:1;
  top: 0;
  margin-top: 25px;
  left: 0;
}

.canvas {
  position:relative;
  top: 0;
  margin-top: 25px;
  left: 0;
  z-index: 10;
}

.imugi{
  position:absolute;
  top: 0;
  margin-top: 25px;
  left: 0;
  z-index: 20;
}

.all{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;

}

.details{
  width: 420px;
  margin-top: 25px;
  margin-left: 20px;
}

 .message{
  font-size: 30px;
  color: royalblue;
}
