
<div class="all-login">
  <i id="img_icon_login" class="material-icons">supervisor_account</i>
  <form [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
          <input matInput #emailFieldId placeholder="Enter your Email" formControlName="emailFormControl">
         <mat-error *ngIf="loginForm.get('emailFormControl').hasError('email') && !loginForm.get('emailFormControl').hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.get('emailFormControl').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
      </mat-form-field><br/><br/>
      <mat-form-field>
        <input matInput #passFieldId placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
      </mat-form-field><br/><br/>

    <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid" (click)="loginClicked()">Login</button>
    <button mat-raised-button color="primary" type="button" (click)="registerClickEvent(emailFieldId.value, passFieldId.value)" >Register</button>
  </form>
</div>
