
.all-login{
    text-align: center;
    flex: 100%;
}

mat-form-field {
    width: 300px;
}
button{
    margin: 2%;
    margin-bottom: 3%;
}

img{
    margin-top:10px;
}

#img_icon_login{
    font-size: 190px;
    margin-top: 50px;
}